@CHARSET "UTF-8";
html {
	font-size: 100%;
}

body {
	width                : 100%;
	background-image     : url(../../Image/background6.jpg);
	background-repeat    : no-repeat;
	background-attachment: fixed;
	background-position  : 0% 45%;
    background-size      : 100% 70%;
}

.div_class {
	border          : 2px solid #B1B8B8;
	margin-top      : 12%;
	margin-left     : 70%;
	width           : 25%;
	height          : 48%;
	position        : absolute;
	background-color: white;
	font-family     : arial;
	font-size       : 1rem;
	text-align      : left;
	vertical-align  : middle;
}

.div_class_1 {
	border     : 1px solid grey;
	margin-top : 16%;
	margin-left: 8%;
	width      : calc(84% - 4px);
	height     : calc(14% - 2px);
	position   : absolute;
}

.div_class_2 {
	border     : 1px solid grey;
	margin-top : 39.5%;
	margin-left: 8%;
	width      : calc(84% - 4px);
	height     : calc(14% - 2px);
	position   : absolute;
}

.div_class_3 {
	margin-top : 62%;
	margin-left: 8%;
	width      : 84%;
	height     : 14%;
	position   : absolute;
}

.div_class_4 {
	margin-top  : 76%;
	margin-left : 72%;
	width       : 20%;
	height      : 10%;
	position    : absolute;
}

.label_username {
	background-image   : url(../../Image/username.png);
	background-repeat  : no-repeat;
	background-color   : #B4B5B4;
	background-size    : 160% 160%;
	background-position: center;
	width              : 16%;
	height             : 100%;
	position           : absolute;
}

.label_password {
	background-image   : url(../../Image/password.png);
	background-repeat  : no-repeat;
	background-color   : #B4B5B4;
	background-size    : 160% 160%;
	background-position: center;
	width              : 16%;
	height             : 100%;
	position           : absolute;
}

.Input {
	border     : 1px solid white;
	margin-left: 16%;
	width      : calc(68% - 4px);
	height     : calc(100% - 4px);
	position   : absolute;
}

.image_class {
	border             : 1px solid white;
	background-image   : url(../../Image/Icon_close_2.png);
	background-repeat  : no-repeat;
	background-size    : 60% 60%;
	background-position: center;
	margin-left        : 84%;
	width              : calc(16% - 2px);
	height             : calc(100% - 2px);
	position           : absolute;
	visibility         : hidden;
	/*color              : grey;*/
}

.Span_1 {
	border     : 1px solid white;
	margin-top : 8%;
	margin-left: 8%;
	width      : 80%;
	height     : 7%;
	position   : absolute;
}

.Span_2 {
	border     : 1px solid white;
	margin-top : 32%;
	margin-left: 8%;
	width      : 80%;
	height     : 7%;
	position   : absolute;
}


.Submit {
	margin-left: 0%;
	width      : 35%;
	height     : 70%;
	font-size  : 1rem;
	position   : absolute;
	color      : #EB1A12;
}

.Register {
	margin-left: 65%;
	width      : 35%;
	height     : 70%;
	font-size  : 1rem;
	position   : absolute;
}

.p_class {
	font-family: sans-serif;
	font-size  : 0.8rem;
	color      :black;
}

.p_input_class {
	font-family   : sans-serif;
	font-size     : 0.8rem;
	color         :#F80E0E;
	text-align    : left;
	vertical-align: middle;
	display       : inline;
}

.add {
	color: #EB1A12;
}

.p_class_add {
	color          : red;
	text-decoration: underline;
}